.about {
  display: flex;
  justify-content: center;
  scroll-margin-top: 67px;
}

.about img {
  display: none;
}

.about-content {
  background: var(--gradient-blue);
  color: var(--text-white);
  text-align: center;
  padding: var(--space-lg) var(--space-md) var(--space-xxl) var(--space-md);
  z-index: -1;
}

.about-content h2 {
  font-size: var(--text-lg);
}

@media only screen and (min-width: 992px) {
  .about {
    scroll-margin-top: 77px;
  }

  .about img {
    display: block;
    position: absolute;
    width: 100%;
    height: 491px;
    z-index: -1;
  }

  .about-content {
    background: none;
    max-width: 840px;
    box-shadow: none;
  }

  .about-content p{
    font-size: calc(0.85 * var(--text-md));

  }

  .about-content h2 {
    font-size: var(--text-xl);
  }
}
