.landing {
  text-align: center;
  height: calc(100vh - var(--space-md) - 64px);
  min-height: 250px;
  margin: var(--space-md) var(--space-sm) 0px var(--space-sm);
}

.landing-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mugshot {
  width: 100%;
  max-width: 414px;
  height: auto;
  align-self: center;
}

@media only screen and (min-width: 992px) {
  .landing {
    min-width: 992px;
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    min-height: 340px;
    margin-top: 0px;
    height: calc(100vh - 77px);
  }

  .landing-content {
    flex-direction: row;
    text-align: start;
    align-items: center;
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
  }

  .mugshot {
    max-width: none;
    width: 510px;
    height: auto;
    margin-right: var(--space-sm);
  }
}

@media only screen and (min-width: 1066px) {
  .title span {
    display: table;
  }
}

.subtitle {
  font-weight: 500;
}

.standout {
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: -1;
}

.email-btn,
.work-btn {
  display: inline-block;
  cursor: pointer;
}

.email-btn {
  font-weight: 500;
  background: var(--gradient-blue-reversed);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 2rem;
  color: var(--text-white);
  box-shadow: 0px 4px 5px rgba(54, 171, 255, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.email-btn:hover {
  box-shadow: 0px 5px 10px rgba(54, 171, 255, 0.7);
}

.work-btn {
  font-weight: 550;
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.2s;
}

.work-btn:hover {
  transform: scale(1.05);
  background: var(--gradient-blue-reversed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
