.landing {
  text-align: center;
  height: calc(100vh - var(--space-xl) - 64px);
  min-height: 250px;
}

@media only screen and (min-width: 992px) {
  .landing {
    text-align: start;
    display: flex;
    flex-direction: row;
    min-width: 992px;
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    min-height: 340px;
  }

  .title span {
    display: table;
  }
}

.subtitle {
  font-weight: 500;
}

.standout {
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: -1;
}

.email-btn,
.work-btn {
  display: inline-block;
  cursor: pointer;
}

.email-btn {
  font-weight: 500;
  background: var(--gradient-blue-reversed);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 2rem;
  color: var(--text-white);
  box-shadow: 0px 4px 5px rgba(54, 171, 255, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.email-btn:hover {
  box-shadow: 0px 5px 10px rgba(54, 171, 255, 0.7);
}

.work-btn {
  font-weight: 550;
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.2s;
}

.work-btn:hover {
  transform: scale(1.05);
  background: var(--gradient-blue-reversed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
