.landing {
  text-align: center;
}

.subtitle {
  font-weight: 500;
}

.standout {
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: -1;
}