.navbar-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'logo menu-icon'
    'menu-content menu-content';
  background-color: white;
  position: relative;
  box-shadow: inherit;
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);
}

.navbar {
  background-color: white;
  height: 67px;
}

@media only screen and (min-width: 992px) {
  .navbar-content {
    grid-template-areas: 'logo menu-content';
    max-width: 1124px;
    margin: auto;
  }

  .navbar {
    height: 77px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-identity {
  flex-direction: column;
  line-height: 1.1em;
  opacity: 0;
  transition: opacity 0.5s;
}

@media only screen and (min-width: 768px) {
  .logo-identity {
    display: inline-block;
    opacity: 1;
  }
}

.identity-component {
  font-weight: bold;
  font-size: 1.5rem;
}

.sticky-navbar {
  box-shadow: 0px 2px 8px #adadad;
}

.innerSticky {
  box-shadow: inherit;
  transition: box-shadow 0.3s ease-in-out;
}

.logo {
  grid-area: logo;
  width: 48px;
  height: auto;
}

.menu-icon {
  grid-area: menu-icon;
  width: 24px;
  height: auto;
  justify-self: end;
  align-self: center;
}

.back-icon {
  grid-area: menu-icon;
  width: 30px;
  height: auto;
  justify-self: end;
  align-self: center;
}

@media only screen and (min-width: 992px) {
  .menu-icon,
  .back-icon {
    display: none;
  }
}
