.projects-wrapper {
  margin-bottom: var(--space-xxl);
  scroll-margin-top: 67px;
  text-align: center;
}

.projects {
  margin: 0px auto;
  max-width: 870px;
  text-align: left;
}

.project-cover {
  width: 100%;
  height: 250px;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.25);
  border-radius: 25px;
  object-fit: cover;
  transition: transform ease-out 0.2s;
}

.arrow {
  height: auto;
  width: 14px;
  vertical-align: middle;
}

.link {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .project {
    max-width: 350px;
  }

  .project-cover {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .projects-wrapper {
    scroll-margin-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects {
    min-width: 870px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .project {
    max-width: 250px;
    font-size: calc(0.75 * var(--text-md));
  }

  .project-cover {
    width: 250px;
    height: 250px;
  }

  .project-cover:hover {
    transform: scale(1.005);
  }

  .arrow {
    height: 16px;
  }
}
