.testimonials-wrapper {
  margin-bottom: var(--space-xxl);
  scroll-margin-top: 67px;
}

@media only screen and (min-width: 992px) {
  .testimonials-wrapper {
    scroll-margin-top: 77px;
  }
}

.testimonials-wrapper h3 {
  text-align: center;
}

.testimonial-card {
  grid-area: card;
  justify-self: center;
  position: relative;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: var(--space-xl) var(--space-sm);
  max-width: 700px;
}

.quotation-image {
  position: absolute;
  left: calc(50% - (68px / 2));
  top: -20px;
}

.author-image img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.author-image {
  margin-left: auto;
  margin-right: auto;
  border: solid 5px transparent;
  border-radius: 50%;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
  width: 64px;
  height: 64px;
}

.author-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: var(--gradient-blue);
  filter: drop-shadow(2px 2px 5px rgba(54, 171, 255, 0.2));
}

.testimonial-author {
  position: absolute;
  bottom: calc(-1 * (120px - (69px / 2)));
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.author {
  font-weight: 500;
  margin-top: var(--space-xxs);
}

.job {
  font-size: var(--text-sm);
}

.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'card card card'
    'arrow-left . arrow-right';
}

.carousel .arrow-left,
.arrow-right {
  z-index: 2;
  margin-top: calc((120px - (69px / 2)) / 2);
  cursor: pointer;
  transition: transform 0.2s;
}

.carousel .arrow-left:hover {
  transform: translateX(-5px) scale(1.05);
}
.carousel .arrow-right:hover {
  transform: translateX(5px) scale(1.05);
}

.carousel .arrow-left {
  grid-area: arrow-left;
  justify-self: end;
  margin-right: var(--space-xl);
}

.carousel .arrow-right {
  grid-area: arrow-right;
  justify-self: start;
  margin-left: var(--space-xl);
}

@media only screen and (min-width: 992px) {
  .testimonial-content {
    margin-bottom: var(--space-sm);
  }

  .carousel {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 'arrow-left card arrow-right';
  }

  .carousel .arrow-left,
  .arrow-right {
    align-self: center;
    margin-top: 0px;
  }

  .carousel .arrow-left {
    margin-right: var(--space-lg);
  }

  .carousel .arrow-right {
    margin-left: var(--space-lg);
  }

  .quotation-image {
    position: absolute;
    left: -12px;
    top: -12px;
  }

  .testimonial-author {
    left: auto;
    text-align: right;
    flex-direction: row;
    bottom: -12px;
    right: -12px;
  }

  .author-image {
    margin: none;
    order: 3;
  }
}
